@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('./assets/fonts/Cafe24Ssurround.woff2') format('woff2'),
         url('./assets/fonts/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy';
    src: url('./assets/fonts/Paperlogy-4Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Black.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
*{
    margin: 0;
    box-sizing: border-box;
}
